<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title || "Raw Bites" %></title>
    <%= partial 'partials/metatags' %>
    <%= partial 'partials/favicon' %>

    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
